@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

.container { 
  width: 90%; 
  margin: auto;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

.link:hover {
  color: #ff5252;
}