@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
} 

::-webkit-scrollbar {
  width: 12px; 
  height: 25vh; 
}

::-webkit-scrollbar-thumb {
  background: #287c2c; 
  border-radius: 6px; 
}

::-webkit-scrollbar-thumb:hover {
  background: darkgreen;
}

.container {
  width: 90%;
  margin: auto;
}

body {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  background: white;
  color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
}

.btn-org {
  background: #287c2c !important;
  color: white !important;
  font-weight: 500;
  font-size: 16px;
  padding: 11px 20px !important;
}

.btn-org:hover {
  background-color: #171717 !important;
}

.link:hover {
  color: #287c2c;
}

.MuiBadge-badge {
  background-color: #287c2c !important;
}

nav button {
  text-transform: capitalize !important;
  color: black !important;
}

nav button:hover {
  text-transform: capitalize !important;
  color: #287c2c !important;
  background: none;
}

.mySwiper {
  overflow: inherit !important;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #fff;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px !important;
  color: #000;
}

.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
  background: #287c2c !important;
}

.mySwiper .swiper-button-prev:hover::after,
.mySwiper .swiper-button-next:hover::after {
  color: #fff !important;
}

.homeCategorySlider {
  overflow: inherit !important;
}

.homeCategorySlider .swiper-button-prev,
.homeCategorySlider .swiper-button-next {
  width: 30px;
  height: 30px;
  min-width: 30px;
}

.homeCategorySlider .swiper-button-prev::after,
.homeCategorySlider .swiper-button-next::after {
  font-size: 16px !important;
}

.homeCategorySlider .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.homeCategorySlider .swiper-button-prev:hover,
.homeCategorySlider .swiper-button-next:hover {
  background: #287c2c !important;
}

.homeCategorySlider .swiper-button-prev:hover::after,
.homeCategorySlider .swiper-button-next:hover::after {
  color: #fff !important;
}

.smallButton .swiper-button-prev,
.smallButton .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}

.smallButton .swiper-button-prev::after,
.smallButton .swiper-button-next::after {
  font-size: 18px !important;
  color: #000;
}

.smallButton .swiper-button-prev:hover,
.smallButton .swiper-button-next:hover {
  background: #287c2c !important;
}

.smallButton .swiper-button-prev:hover::after,
.smallButton .swiper-button-next:hover::after {
  color: #fff !important;
}

.MuiTabs-indicator {
  background-color: #287c2c !important;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #287c2c !important;
}

.productSlider .swiper-wrapper {
  padding: 15px;
}

.productItemSlider .swiper-button-prev,
.productItemSlider .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 40% !important;
}

.productItemSlider .swiper-button-prev::after,
.productItemSlider .swiper-button-next::after {
  font-size: 18px !important;
  color: #000;
}

.productItemSlider .swiper-button-prev:hover,
.productItemSlider .swiper-button-next:hover {
  background: #287c2c !important;
}

.productItemSlider .swiper-button-prev:hover::after,
.productItemSlider .swiper-button-next:hover::after {
  color: #fff !important;
}

footer form input::placeholder {
  font-size: 14px;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked,
.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #287c2c !important;
}

.MuiFormControlLabel-label {
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8);
}

.blogItem .swiper-button-prev,
.blogItem .swiper-button-next {
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 35% !important;
}

.blogItem .swiper-button-prev::after,
.blogItem .swiper-button-next::after {
  font-size: 18px !important;
  color: #000;
}

.blogItem .swiper-button-prev:hover,
.blogItem .swiper-button-next:hover {
  background: #287c2c !important;
}

.blogItem .swiper-button-prev:hover::after,
.blogItem .swiper-button-next:hover::after {
  color: #fff !important;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #287c2c !important;
}

.homeSliderv2 .swiper-button-prev,
.homeSliderv2 .swiper-button-next {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  top: 50% !important;
}

.homeSliderv2 .swiper-button-prev::after,
.homeSliderv2 .swiper-button-next::after {
  font-size: 25px !important;
  color: #000;
}

.homeSliderv2 .swiper-button-prev:hover,
.homeSliderv2 .swiper-button-next:hover {
  background: #287c2c !important;
}

.homeSliderv2 .swiper-button-prev:hover::after,
.homeSliderv2 .swiper-button-next:hover::after {
  color: #fff !important;
}

.homeSliderv2 .swiper-slide-active .info {
  right: 0px !important;
  opacity: 1;
}

.homeSliderv2 .swiper-slide-active .info h4 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderv2 .swiper-slide-active .info h3 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderv2 .swiper-slide-active .info h2 {
  right: 0px !important;
  opacity: 1;
}

.homeSliderv2 .swiper-slide-active .info .v2btn {
  right: 0px !important;
  opacity: 1;
}

.homeSliderv2 .info h4 {
  transition-duration: 1.2s;
}

.homeSliderv2 .info h2 {
  transition-duration: 1.5s;
}

.homeSliderv2 .info h3 {
  transition-duration: 1.8s;
}

.homeSliderv2 .info .v2btn {
  transition-duration: 2.1s;
}

.MuiCheckbox-root {
  padding: 6px !important;
}

.ReactCollapse--collapse {
  transition: height 400ms;
}

.range-slider  {
  height: 3px !important;
}

.range-slider .range-slider__thumb {
  width: 14px !important;
  height: 14px !important;
}

.range-slider .range-slider__thumb, .range-slider .range-slider__range {
  background: #287c2c !important;
}

.itemViewActions button.active svg {
  color: #287c2c !important;
  opacity: 1 !important;
}

.Mui-selected.MuiPaginationItem-page {
  background: #287c2c !important;
  color: #fff !important;
}